@model IEnumerable<MainStaticMaintainableEntities.VisitAssembly.Visit>

<h2>Visits</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.GuidId)</th>
            <th>Selected CRF Ids</th>
            <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.GuidId)</td>
                <td>@Html.DisplayFor(modelItem => item.JsonValue)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Undelete" asp-route-id="@item.Id">Undelete</a> |
                    <a asp-action="Select" asp-route-id="@item.Id" class="btn btn-sm btn-success">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>
