@model DataServices.SqlServerRepository.Models.CrfModels.CrfEntry;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experiment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudyId)
            Crf Page Id - @Html.DisplayFor(model => model.CrfPageId)             
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvestigatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormDataJson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormDataJson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdator)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
