@model IEnumerable<ScaffoldingMockSolution.Models.ModuleInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExperimentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentDataInJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLastUpdateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExperimentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDataInJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLastUpdateDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
